.whiteOut2{
	position: fixed;
	width:100%;
	height:100%;
	background-color: #fff;
	opacity: .5;
    overflow: hidden;
    top:0;
	z-index: 20;
	display: none;
}

.whiteOut{
	display: table;
	position: fixed;
	width:100%;
	height:100%;
	background-image: url(white50.png);
	z-index: 0;
}


.popupAlignCenter {
    display: table-cell;
    vertical-align: middle;
}

.popUpWrapper {
    width: 90%;
	max-width: 1197px;
    max-height:780px;
    min-width: 990px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff; 
    display:inline;
    display: none;

    color: #999999;
	font-family: Helvetica, Arial, sans-serif !important;

	position:relative;
	z-index: 100;

}

.popupOuterSpacing{
	padding:4%;
}

.popupContentWrapper, 
.popupContentLeft img
{
	width:100%;
}

.popupContentWrapper{
}

.popupContentLeftWrapper{
	position: relative;
    float: left;
    width: 50%;
    height: 100%;
    margin: 4%;
}

.popupContentLeft{
	width: 100%;
}
.popupContentRightWrapper{
	position:absolute;
	right:0;
	width: 38%;
    overflow: scroll;
    height: 86%;
    margin: 4% 4% 4% 0;
}



.popupContentRight{
	/*overflow-y: scroll;
	margin: 6% 6% 6% 0;
	height:82%;
	margin:10%;*/
}



div::-webkit-scrollbar {
    width: 6px;
    height:0;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #95CF3E;
}


hr.quote{
	width:100%;
	max-width: 185px;
	height:2px;
	background:url(PACE_1MW_WEB_release/GRAPHICS/POP_Quote_Keyline.png);
}
div.quote{
	margin: 8% 0;
	font-size: 1.4em;
    text-align: center;
}

.story h1{
	font-weight: 700;
	margin-bottom: 0;
	float:left;
}
.story h4{
	font-weight: 100;
	font-style: italic;
	margin:0;
}

.story #socialWrapper{
	float:right;
}