

.car {
	display: none;
}

.active-slide{
	display: inline-block;
}

.navDots{
	position:absolute;
	bottom:-8.4%;
	margin:0 auto;
	width:100%;
	text-align: center;
}

nav.navDots ul{
	display:inline-block;
	padding:0;
}
nav.navDots ul li{
	display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 7px;
    border: 1px solid #767;
	cursor:pointer;
	margin:0px 5px;
}
.active-slide{
	display:block;
}
.active-dot{
	background-color: #767;
}