area {
    outline: 0
}

#vi_banner,
body .nav-shift #bodyContainer {
    width: 100%;
    max-width: 1400px
}

#vi_banner {
    margin: 0 auto
}

#bodyContainer {
    clear: both
}

#shippingOptions #bg_us_ol {
    display: none
}

#shippingOptions #globalShippingContainer div,
#shippingOptions #nativeShippingContainer div {
    margin: 0 0 0 67px
}

#nativeAndGlobalRegion #regionSpecificGlobal #globalContainer_CA {
    left: 84px
}

#shippingOptionsBusinessUnitsContainer #globalShippingContainer {
    left: 63px
}

#regionSpecificGlobal #globalContainer #globalUnits {
    left: 58px
}

#regionSpecificGlobal #globalContainer #globalUnits #at_us_ol {
    margin: 0 0 0 45px
}

#shippingOptionsPopUp #regionSpecificGlobal .currency,
#shippingOptionsPopUp #regionSpecificNative #currencyForEurope .britishPoundText,
#shippingOptionsPopUp #regionSpecificNative #currencyForEurope .currencyBritish {
    font-size: 11px
}

#gatewayBackdrop {
    background: #000;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    opacity: .65;
    filter: alpha(opacity=65);
    z-index: 97;
    position: fixed;
    top: 0
}

#nativeShippingContainer .gap_e2_ol,
#nativeShippingContainer .gap_eu_ol {
    float: left;
    width: 60px;
    height: 60px
}

#nativeShippingContainer .gap_e2_ol a,
#nativeShippingContainer .gap_eu_ol a {
    display: block;
    float: left;
    color: #828282;
    padding-top: 48px;
    text-decoration: none;
    width: 60px;
    background-image: url(/assets/common/shippingOptions/gap_unselected.png);
    background-repeat: no-repeat;
    text-align: center
}

#nativeShippingContainer .gap_e2_ol_Selected,
#nativeShippingContainer .gap_eu_ol_Selected {
    background-image: url(/assets/common/shippingOptions/gap_selected.png)!important;
    background-repeat: no-repeat
}

#nativeShippingContainer .gap_e2_ol_Selected a,
#nativeShippingContainer .gap_eu_ol_Selected a {
    background-image: none
}

#nativeShippingContainer .br_e2_ol,
#nativeShippingContainer .br_eu_ol {
    float: left;
    width: 80px;
    height: 60px;
    margin: 0 0 0 52px
}

#nativeOrGlobalRegion #globalGatewayCurrency .britishPoundText,
#nativeOrGlobalRegion #globalGatewayCurrency .currencyBritish {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 22px;
    bottom: 0;
    position: absolute
}

#nativeShippingContainer .br_e2_ol a,
#nativeShippingContainer .br_eu_ol a {
    display: block;
    float: left;
    color: #828282;
    padding-top: 48px;
    text-decoration: none;
    width: 80px;
    background-image: url(/assets/common/shippingOptions/br_unselected.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    text-align: center
}

#rollOverGlobal,
#rollOverNative,
.orderPage #billingPromoCodeInput #moreInfoLink,
.orderPage .billingCodeInputSummaryList #moreInfoLink {
    display: none
}

#nativeShippingContainer .br_e2_ol_Selected,
#nativeShippingContainer .br_eu_ol_Selected {
    background-image: url(/assets/common/shippingOptions/br_selected.png)!important;
    background-repeat: no-repeat;
    background-position: 10px 0
}

#nativeShippingContainer .br_e2_ol_Selected a,
#nativeShippingContainer .br_eu_ol_Selected a {
    background-image: none
}

#nativeOrGlobalRegion #nativeShippingContainer {
    top: 59px;
    left: 63px
}

#nativeOrGlobalRegion #globalGatewayCurrency .currencyBritish {
    color: #828282;
    left: 12px;
    text-align: left;
    width: 51px
}

#nativeOrGlobalRegion #globalGatewayCurrency .britishPoundText {
    color: #000;
    left: 70px;
    text-align: left;
    width: 100px
}

.singleCTA-wrapper a,
.singleCTA-wrapper p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif
}

.social-links {
    padding-left: 8px
}

.social-links .fbLikeBtn,
.social-links .pinItBtn {
    float: left;
    width: 100px;
    margin-top: 7px;
    text-align: left
}

.social-links .fbLikeBtn iframe {
    width: 100px;
    height: 21px;
    border: none;
    overflow: hidden
}

.social-links .pinItBtn a {
    cursor: pointer
}

.productMarkdownValue>span:nth-of-type(4) {
    color: #ff8000
}

.shippingOptionsDivider .ng-isolate-scope>div:nth-of-type(1) {
    font-weight: 400
}

#mainContentContainer {
    border: 0
}

body {
    background-image: none!important;
    background-color: #fff
}

.main-logo .icon-old-navy {
    padding-bottom: 34%
}

@media (min-width:768px) {
    .header--wrapper .brand-bar {
        height: 8.25em
    }
    .main-logo .icon-old-navy-outer {
        width: 17.6em;
        margin-left: -8.8em;
        margin-top: -2.7em
    }
    .fixed-header_at-sm #topNav {
        margin-top: 0!important
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .header--wrapper .brand-bar {
        height: 5.25em
    }
    .main-logo .icon-old-navy-outer {
        width: 12em;
        margin-left: -6em;
        margin-top: -2em
    }
}

@media (max-width:767px) {
    .main-logo .icon-old-navy-outer {
        margin: .55em 0 .6em
    }
}

@media (min-width:375px) and (max-width:767px) {
    .main-logo .icon-old-navy-outer {
        width: 7.5em
    }
}

body .l--division-page-photos {
    padding-left: 0
}

body.orderPage span.icon-old-navy-outer {
    top: 40%
}

img[src~="lazy_load_background.gif"],
img[src~="clear.gif"] {
    height: 10%;
    width: 100%
}

img.responsive-img {
    width: 100%
}

@media screen and (min-width:768px) {
    .desktop-hide {
        display: none
    }
    .desktop-show {
        display: block
    }
}

@media screen and (max-width:767px) {
    .mobile-hide {
        display: none
    }
    .mobile-show {
        display: block
    }
}

.style-module-5-1 {
    float: left
}

.style-module-5-2,
.style-module-5-3 {
    float: right
}

.style-module-5-r-1,
.style-module-5-r-2 {
    float: left
}

.style-module-5-r-3 {
    float: right
}

.wcd-curtain {
    margin: 0 0 10px 24px;
    clear: both
}

.singleCTA-wrapper a {
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 17px 0
}

.singleCTA-wrapper.secondCTA a {
    padding: 0 0 17px
}

.singleCTA-wrapper p {
    text-align: center;
    font-size: 15.5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: normal
}

.singleCTA-wrapper .singleCTA-shadow {
    width: 100%;
    height: 15px;
    background-image: url(/Asset_Archive/ONWeb/content/0000/common_assets/XXXX16_USCDA_Mobile_GenericShadow_600x18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px
}

.center {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.singleCTADesk {
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    visibility: visible;
    text-transform: uppercase
}

.evergreen-shadow-wrapper {
    height: 32px;
    position: relative;
    overflow: hidden
}

.evergreen-shadow.shadow-left,
.evergreen-shadow.shadow-right {
    position: absolute;
    height: 54%;
    content: "";
    top: -102%;
    width: 50%;
    background: #fff;
    z-index: 0;
    -webkit-box-shadow: 21px 14px 31px 8px #CCC;
    -moz-box-shadow: 21px 14px 31px 8px #CCC;
    box-shadow: 21px 14px 31px 8px #CCC;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
    border-collapse: separate;
    border-radius: 1%
}

.evergreen-shadow.shadow-right {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(1deg);
    right: 2px;
    left: auto
}

.flyout_trigger {
    font-family: 'Open Sans';
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    width: auto;
    white-space: nowrap;
    z-index: 10
}

@media only screen and (max-width:1400px) {
    .cta {
        font-size: 1vw
    }
}

.dp_flyout_blkonwht_styles,
.dp_flyout_whtonblk_styles {
    font-weight: 700;
    text-align: center;
    padding: 4px 20px;
    font-family: 'Open Sans';
    font-size: 1em
}

.dp_flyout_whtonblk_styles {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    letter-spacing: .6px;
    white-space: nowrap
}

.dp_flyout_blkonwht_styles {
    background-color: #fff;
    color: #000;
    letter-spacing: .6px;
    white-space: nowrap
}

.dp-cta-blkonwht-styles,
.dp-cta-whtonblk-styles,
.dp_flyout_blkontrans_styles,
.dp_flyout_whtontrans_styles {
    font-weight: 700;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: .6px;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 4px 0
}

.dp_flyout_blkonwht_styles.border,
.flyout_blkonwht_styles.border {
    border-bottom: 2px solid #000!important
}

.dp-cta-blkonwht-styles.border {
    border: 1px solid #000!important
}

.dp-cta-blkonwht-styles {
    background-color: #FFF;
    color: #000
}

.dp-cta-whtonblk-styles {
    background-color: #000;
    color: #FFF
}

.dp_flyout_whtontrans_styles {
    background-color: transparent;
    color: #fff;
    line-height: 1;
    display: block
}

.dp_flyout_whtontrans_styles.border {
    border: 1px solid #000
}

.dp_flyout_whtontrans_styles.underline {
    border-bottom: 3px solid #fff
}

.dp_flyout_blkontrans_styles {
    background-color: transparent;
    color: #000;
    line-height: 1;
    display: block
}

.underline.wrap {
    line-height: 2;
    display: inline
}

.dp_flyout_navyonwhite_styles,
.dp_flyout_whiteonnavy_styles {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    letter-spacing: .6px;
    white-space: nowrap;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Open Sans'
}

.dp_flyout_blkontrans_styles.border {
    border: 1px solid #000
}

.dp_flyout_blkontrans_styles.underline {
    border-bottom: 3px solid #000
}

.dp_flyout_whiteonnavy_styles {
    background-color: transparent;
    color: #fff;
    padding: 4px 0;
    display: block
}

.dp_flyout_whiteonnavy_styles.box {
    padding: 8px 20px;
    background: #003764
}

.dp_flyout_navyonwhite_styles {
    background-color: transparent;
    color: #003764;
    padding: 4px 0;
    display: block
}

.dp_flyout_navyonwhite_styles.box {
    padding: 8px 20px;
    background: #fff
}

.mobileBoxCTANavy {
    background-color: #003764;
    color: #fff;
    margin-left: 17px;
    margin-right: 17px;
    padding: 14px;
    display: block
}

.flyout_links {
    border-width: 0;
    border-color: #CCC;
    border-style: solid;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    bottom: 27px;
    z-index: 6;
    position: absolute;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    display: none;
    letter-spacing: 0
}

.flyout_links li {
    float: left;
    height: 15px;
    padding: 5px 0 9px;
    margin: 0 5%;
    width: 90%;
    border-bottom: 1px solid #000;
    font-weight: 400
}

.flyout_links li:last-child {
    border-bottom: 0 solid #000
}

@media only screen and (max-width:1024px) {
    .dp_flyout_blkontrans_styles.underline {
        border-bottom: 2px solid #000
    }
    .dp_flyout_whtontrans_styles.underline {
        border-bottom: 2px solid #fff
    }
    .dp_flyout_blkontrans_styles,
    .dp_flyout_navyonwhite_styles,
    .dp_flyout_whiteonnavy_styles,
    .dp_flyout_whtontrans_styles {
        font-size: 1.4vw
    }
    .flyout_links li {
        font-size: 12px
    }
}

.accordionBlock .flyoutMenu-trigger {
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 17px 0
}

.accordionBlock .flyoutMenu-trigger.secondCTA {
    padding: 0 0 17px
}

.accordionBlock div.flyoutMenu-list ul {
    list-style: none
}

.accordionBlock div.flyoutMenu-list ul li {
    padding: 11px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5
}

.accordionBlock div.flyoutMenu-list ul li a {
    font-family: 'Open Sans';
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%
}

.accordionBlock .flyoutMenu-label p img {
    display: inline;
    width: 12px
}

.accordionBlock a {
    text-align: center
}

.flyoutMenu-label p {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 15.5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: normal
}

.flyoutMenu-label p img {
    width: 12px
}

.accordionBlock div.flyoutMenu-list ul li:last-child {
    border-bottom: none
}

.detailsLink {
    font-size: .875rem;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Open Sans'
}

@media only screen and (max-width:1200px) {
    .detailsLink {
        font-size: 1.2vw
    }
}

@media only screen and (max-width:767px) {
    .detailsLink {
        font-size: 3vw
    }
}

.dp-wrapper {
    margin: 0;
    padding: 0
}

.dp-wrapper .grid-root img {
    width: 100%;
    display: block;
    line-height: 0
}

.assetBlock {
    margin-bottom: 20px
}

.cta-embed {
    position: absolute;
    z-index: 1
}

.image-background-container {
    position: relative
}

.row-background {
    position: static
}

.row-lockupbox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}

.dp-row1-margin-mobile {
    margin-bottom: 10px
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1
}

.new-arrivals-next {
    left: auto;
    right: 0
}